/.env
/Readme.txt
/backend/DataCommunicationIdea.txt
/backend/route.json
/backend/coords.json
/backend/features.json
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc
gnu_maps-frontend/node_modules
gnu_maps-frontend/package-lock.json
